body {
    margin: 0
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 220, 220);
    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;

}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;
    display: flex;
    align-items: center;
}



.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    margin-right: 20px
}

.youtube-logo {
    height: 20px;
}



.search-bar {
    flex: 1;
    height: 34px;
    font-family: Roboto, Arial;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(226, 218, 218);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    height: 40px; 
    width: 66px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(226, 218, 218);
    margin-left: -1px;
    margin-right: 8px;
    position: relative
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    position: relative
}

.search-icon {
    height: 25px;
    margin-top: 4px

}

.voice-search-icon {
    height: 24px;
    margin-top: 4px;
}


.right-section {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px

}

.apps-icon {
    height: 24px
}

.notification-icon {
    height: 24px
}

.profile-picture {
    height: 32px;
    border-radius: 16px;
}

.notification-container {
    position: relative
}

.notification-count {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(242, 70, 70);
    font-family: Roboto, Arial;
    font-weight: 500;
    font-size: 10px;
    border-radius: 10px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    color: white
}

.search-button .tooltip,
.voice-search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-family: Roboto;


}

.search-button:hover .tooltip {
    opacity: 1;
}