
.thumbail {
    width: 100%;
    object-fit: cover;
    object-position: left;

}




.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video-info {
    display: grid;
    grid-template-columns: 50px, 1fr;
}

.profile-picture {
    width: 36px;
    vertical-align: top;
    border-radius: 50px;

}

.thumbail-div {
    display: block;
    margin-bottom: 12px;
    position: relative
}

.video-title {
    margin-top: 0px
}


.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96)
}

.video-author {
    margin-bottom: 4px;
}


.video-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;

}

@media (max-width: 750px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.video-time {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-family: Roboto;
    font-size: 12px;
    border-radius: 6px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}




